In [38]:
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.ticker import NullFormatter
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.ticker as ticker
from sklearn import preprocessing

In [39]:
df=pd.read_csv('cardeetails3.csv')

In [40]:
df.head()

,Car Name,Monthly Payment,Initial Payment,Upfront,Contract Length,Milage,Document Fee
0,KIA XCEED1.6 GDi PHEV 3 5dr DCT,516.44,£4647.96,9,24,30000,199.00
1,KIA XCEED1.6 GDi PHEV 3 5dr DCT,373.65,£3362.85,9,36,30000,199.00
2,KIA XCEED1.6 GDi PHEV 3 5dr DCT,358.69,£3228.21,9,48,30000,199.00
3,AUDI A330 TFSI Technik 5dr S Tronic [Comfort+S...,350.71,£3156.39,9,24,30000,165.83
4,AUDI A330 TFSI Technik 5dr S Tronic [Comfort+S...,318.67,£2868.03,9,36,30000,165.83

In [41]:
df['Car Name'].unique()

array(['KIA XCEED1.6 GDi PHEV 3 5dr DCT',
       'AUDI A330 TFSI Technik 5dr S Tronic [Comfort+Sound]',
       'VOLKSWAGEN ARTEON1.5 TSI SE Nav 5dr',
       'VOLKSWAGEN ARTEON1.5 TSI R Line 5dr',
       'VOLKSWAGEN ARTEON2.0 TDI 200 Elegance 5dr DSG',
       'HYUNDAI I301.5T GDi N Line 5dr DCT',
       'HYUNDAI I301.0T GDi Premium 5dr DCT',
       'HYUNDAI I301.6 CRDi SE Connect 5dr',
       'AUDI A130 TFSI 110 Sport 5dr', 'AUDI A130 TFSI 110 Vorsprung 5dr',
       'HYUNDAI I201.0T GDi 48V MHD Ultimate 5dr',
       'AUDI A535 TFSI Sport 2dr S Tronic [Comfort+Sound]',
       'SKODA FABIA1.0 TSI SE Drive 5dr DSG',
       'TOYOTA RAV42.5 PHEV Dynamic 5dr CVT',
       'MERCEDES-BENZ C CLASSC300d 4Matic AMG Line Ed Premium 2dr 9G-Tronic',
       'MERCEDES-BENZ C CLASSC300 AMG Line Edition Premium 2dr 9G-Tronic',
       'MERCEDES-BENZ C CLASSC43 4Matic Night Ed Premium Plus 2dr 9G-Tronic',
       'MERCEDES-BENZ C CLASSC63 S Night Edition Premium Plus 2dr MCT',
       'KIA RIO1.0 T GDi 2 5dr DCT',
       'AUDI A4 ALLROAD40 TDI 204 Quattro Sport 5dr S Tronic [C+S]',
       'AUDI A440 TFSI 204 S Line 4dr S Tronic [Comfort+Sound]',
       'AUDI A440 TFSI 204 Black Edition 4dr S Tronic',
       'AUDI A440 TDI 204 Quattro Black Edn 4dr S Tronic [C+S]',
       'AUDI A745 TFSI 265 Quattro Black Ed 5dr S Tronic [C+S]',
       'AUDI A545 TFSI 265 Quattro Vorsprung 2dr S Tronic',
       'AUDI A545 TFSI 265 Quattro Edition 1 2dr S Tronic',
       'AUDI A540 TFSI 204 Vorsprung 2dr S Tronic',
       'AUDI A645 TFSI 265 Quattro Sport 4dr S Tronic',
       'AUDI A645 TFSI 265 Quattro Sport 5dr S Tronic [Tech Pack]',
       'AUDI A540 TFSI 204 Edition 1 2dr S Tronic',
       'AUDI Q340 TDI 200 Quattro S Line 5dr S Tronic',
       'AUDI A545 TFSI 265 Quattro Vorsprung 5dr S Tronic',
       'AUDI A545 TFSI 265 Quattro Edition 1 5dr S Tronic',
       'BMW 3 SERIES320i M Sport Pro Edition 5dr Step Auto [Tech Pack]',
       'MINI HATCHBACK2.0 John Cooper Works II 3dr [GP Pack]',
       'LAND ROVER DISCOVERY SPORT2.0 D165 S 5dr Auto [5 Seat]',
       'LAND ROVER DISCOVERY SPORT2.0 D200 SE 5dr Auto [5 Seat]',
       'MERCEDES-BENZ C CLASSC220d AMG Line Edition 2dr 9G-Tronic',
       'KIA STONIC1.0T GDi 99 2 5dr DCT',
       'SKODA OCTAVIA1.0 TSI e-TEC SE Technology 5dr DSG',
       'KIA RIO1.0 T GDi 118 3 5dr DCT', 'KIA PICANTO1.0 X-Line 5dr Auto',
       'AUDI E-TRON230kW 50 Quattro 71kWh S Line 5dr Auto [C+S]',
       'AUDI TT45 TFSI Sport Edition 2dr S Tronic',
       'AUDI Q335 TDI Quattro Technik 5dr S Tronic',
       'AUDI A125 TFSI Black Edition 5dr S Tronic [Tech Pack]',
       'VOLKSWAGEN TIGUAN2.0 TDI 4Motion Elegance 5dr DSG',
       'AUDI Q760 TFSI e Quattro Competition 5dr Tiptronic',
       'AUDI Q340 TDI 200 Quattro Black Edition 5dr S Tronic',
       'AUDI Q855 TFSI Quattro Black Edition 5dr Tiptronic',
       'AUDI A435 TFSI Sport Edition 4dr S Tronic',
       'AUDI A435 TDI Sport Edition 4dr S Tronic [Comfort+Sound]',
       'AUDI A440 TFSI 204 Sport Ed 5dr S Tronic [C+S]',
       'KIA PICANTO1.0 3 5dr Auto [4 seats]',
       'KIA PICANTO1.0T GDi GT-line S 5dr [4 seats]',
       'AUDI Q335 TDI Technik 5dr S Tronic',
       'AUDI Q340 TDI 200 Quattro Black Edition 5dr S Tronic[C+S]',
       'AUDI A125 TFSI Black Edition 5dr [Tech Pack]',
       'AUDI A135 TFSI Black Edition 5dr S Tronic [Tech Pack]',
       'VOLKSWAGEN TIGUAN2.0 TDI Life 5dr DSG',
       'AUDI Q755 TFSI e Quattro Black Ed 5dr Tiptronic [C+S]',
       'AUDI Q335 TFSI Black Edition 5dr [Comfort+Sound Pack]',
       'AUDI Q335 TDI Quattro Black Edition 5dr S Tronic',
       'AUDI Q855 TFSI e Quattro Black Edition 5dr Tiptronic',
       'AUDI Q8SQ8 TFSI Quattro Black Edn 5dr Tiptronic [C+S]',
       'AUDI A430 TDI Sport Edition 4dr S Tronic [Comfort+Sound]',
       'AUDI A435 TFSI Sport Edition 5dr S Tronic [Comfort+Sound]',
       'LAND ROVER DISCOVERY SPORT2.0 D200 R-Dynamic HSE 5dr Auto',
       'MERCEDES-BENZ E CLASSE300de AMG Line 4dr 9G-Tronic',
       'MERCEDES-BENZ E CLASSE300e AMG Line Premium 4dr 9G-Tronic',
       'BMW X7xDrive M50i Dark Shadow Edition 5dr Step Auto',
       'MERCEDES-BENZ E CLASSE300de AMG Line Night Edition Prem+ 5dr 9G-Tronic',
       'LAND ROVER DISCOVERY SPORT2.0 D165 5dr 2WD',
       'LAND ROVER RANGE ROVER EVOQUE1.5 P300e Autobiography 5dr Auto',
       'LAND ROVER RANGE ROVER EVOQUE2.0 D165 HSE 5dr Auto',
       'LAND ROVER RANGE ROVER EVOQUE2.0 D200 R-Dynamic 5dr Auto',
       'LAND ROVER DEFENDER3.0 D250 S 90 3dr Auto',
       'LAND ROVER DEFENDER3.0 D250 X-Dynamic SE 90 3dr Auto',
       'LAND ROVER DEFENDER3.0 D200 110 5dr Auto [7 Seat]',
       'LAND ROVER DEFENDER3.0 D250 S 110 5dr Auto [6 Seat]',
       'LAND ROVER DEFENDER3.0 D250 X-Dynamic S 110 5dr Auto',
       'LAND ROVER DEFENDER3.0 D300 X-Dynamic S 110 5dr Auto',
       'MERCEDES-BENZ B CLASSB180d AMG Line Executive 5dr Auto',
       'TOYOTA YARIS1.5 Hybrid Excel 5dr CVT [Leather]',
       'VOLKSWAGEN T-CROSS1.0 TSI 115 SEL 5dr',
       'MINI HATCHBACK2.0 JCW II 3dr [Comfort Pack]',
       'TOYOTA PRIUS1.8 VVTi Business Edition Plus 5dr CVT',
       'BMW 7 SERIES740i 4dr Auto', 'BMW 7 SERIESM760Li xDrive 4dr Auto',
       'AUDI TTTT RS TFSI Quattro 2dr S Tronic',
       'AUDI A655 TFSI Quattro Sport 5dr S Tronic',
       'NISSAN X-TRAIL1.3 DiG-T Tekna 5dr [7 Seat] DCT',
       'SEAT IBIZA1.0 FR Sport [EZ] 5dr', 'FORD FOCUS2.3 EcoBoost ST 5dr',
       'MERCEDES-BENZ CLACLA 180 AMG Line Premium Plus 4dr Tip Auto',
       'AUDI A640 TDI Quattro Black Edition 4dr S Tronic [Tech]',
       'AUDI A640 TDI Black Edition 5dr S Tronic [Tech Pack]',
       'AUDI A6S6 TDI 349 Quattro Black Edition 4dr Tip Auto',
       'AUDI Q235 TFSI Sport 5dr', 'AUDI Q235 TFSI S Line 5dr S Tronic',
       'AUDI Q235 TFSI S Line 5dr S Tronic [C+S]',
       'AUDI A8S8 Quattro Black Edition 4dr Tiptronic',
       'VOLKSWAGEN GOLF2.0 TSI GTI 5dr',
       'AUDI A340 TFSI e Sport 5dr S Tronic',
       'BMW 8 SERIES840i [333] sDrive M Sport 2dr Auto',
       'BMW 5 SERIES545e xDrive M Sport 4dr Auto [Pro Pack]',
       'BMW 5 SERIES530e M Sport 5dr Auto [Tech/Pro Pack]',
       'BMW X6xDrive40i MHT Sport 5dr Step Auto',
       'MINI HATCHBACK2.0 Paddy Hopkirk Edition 3dr',
       'BMW 3 SERIES318d SE 4dr',
       'AUDI A430 TDI Sport Edition 5dr S Tronic',
       'AUDI Q235 TFSI Sport 5dr S Tronic',
       'AUDI A7S7 TDI Quattro Black Edition 5dr Tip Auto',
       'SEAT ARONA1.5 TSI 150 FR [EZ] 5dr DSG',
       'AUDI A340 TFSI e Sport 5dr S Tronic [Comfort+Sound]',
       'BMW 8 SERIES840d MHT xDrive M Sport 2dr Auto [Ultimate Pack]',
       'BMW 8 SERIES840d MHT xDrive M Sport 4dr Auto',
       'BMW 5 SERIES545e xDrive M Sport 4dr Auto [Tech/Pro Pack]',
       'BMW 5 SERIES530e xDrive M Sport 5dr Auto',
       'AUDI A330 TFSI Sport 4dr S Tronic',
       'LEXUS UX300e 150kW 54.3 kWh 5dr E-CVT [Premium Plus Pack]',
       'MINI CONVERTIBLE2.0 [178] Cooper S Classic II 2dr Auto [Nav Pack]',
       'MINI CONVERTIBLE2.0 [178] Cooper S Sport II 2dr Auto [Nav Pack]',
       'MINI CONVERTIBLE2.0 [178] Cooper S Exclusive II 2dr [Comfort Pack]',
       'MINI CLUBMAN2.0 [178] Cooper S Classic 6dr Auto [Comfort Pk]',
       'MINI CLUBMAN2.0 [178] Cooper S Exclusive 6dr',
       'MINI CLUBMAN2.0 John Cooper Works ALL4 6dr Auto [Nav+ Pack]',
       'AUDI Q335 TDI Quattro Sport 5dr S Tronic',
       'AUDI A8L 50 TDI Quattro Sport 4dr Tiptronic [C+S]',
       'AUDI A435 TDI Technik 5dr S Tronic [Comfort+Sound]',
       'AUDI A435 TFSI S Line 4dr S Tronic [Comfort+Sound]',
       'AUDI A430 TDI Black Edition 4dr S Tronic [Comfort+Sound]',
       'BMW X5xDrive45e M Sport 5dr Auto',
       'LAND ROVER DEFENDER3.0 D300 X 110 5dr Auto [7 Seat]',
       'LAND ROVER DEFENDER2.0 P300 X-Dynamic S 110 5dr Auto [7 Seat]',
       'LAND ROVER DEFENDER2.0 P400e X-Dynamic S 110 5dr Auto [6 Seat]',
       'MERCEDES-BENZ E CLASSE450 4Matic AMG Line Night Ed Prem+ 2dr 9G-Tronic',
       'MERCEDES-BENZ E CLASSE300 AMG Line Premium 2dr 9G-Tronic',
       'LAND ROVER RANGE ROVER VELAR2.0 D200 HSE 5dr Auto',
       'LAND ROVER RANGE ROVER VELAR2.0 P400e R-Dynamic S 5dr Auto',
       'MINI HATCHBACK2.0 JCW II 3dr Auto [GP Pack] [Nav] [8 Spd]',
       'MERCEDES-BENZ GLCGLC 300de 4Matic AMG Line Premium 5dr 9G-Tronic',
       'FORD KUGA1.5 EcoBlue ST-Line Edition 5dr',
       'FORD KUGA2.0 EcoBlue 190 ST-Line X Edition 5dr Auto AWD',
       'SEAT LEON1.4 eHybrid FR First Edition 5dr DSG',
       'TOYOTA LAND CRUISER2.8 D-4D 204 Active 5dr Auto 5 Seats [Nav]',
       'VOLKSWAGEN ARTEON2.0 TSI R Line 5dr DSG',
       'VOLKSWAGEN ARTEON2.0 TDI 200 4MOTION R Line 5dr DSG',
       'VOLKSWAGEN ARTEON1.5 TSI Elegance 5dr',
       'VOLKSWAGEN ARTEON2.0 TDI R Line 5dr DSG',
       'MINI CLUBMAN1.5 Cooper Sport 6dr [Comfort Pack]',
       'MINI CLUBMAN1.5 Cooper Exclusive 6dr Auto',
       'MINI CLUBMAN2.0 Cooper S Sport 6dr',
       'MINI CLUBMAN2.0 Cooper S Exclusive 6dr Auto',
       'LEXUS RC5.0 Carbon 2dr Auto',
       'LAND ROVER DISCOVERY SPORT2.0 P200 S 5dr Auto',
       'LAND ROVER DISCOVERY SPORT2.0 P250 S 5dr Auto [5 Seat]',
       'LAND ROVER DISCOVERY SPORT2.0 P250 R-Dynamic SE 5dr Auto [5 Seat]',
       'VOLKSWAGEN TOURAN1.5 TSI EVO SE 5dr DSG',
       'MERCEDES-BENZ V CLASSV220 d AMG Line 5dr 9G-Tronic [Long]',
       'VOLKSWAGEN PASSAT1.5 TSI EVO R Line 5dr DSG',
       'MERCEDES-BENZ V CLASSV220 d Marco Polo Horizon Sport 4dr 9G-Tron [Long]',
       'MERCEDES-BENZ GLSGLS 400d 4Matic AMG Line Premium + 5dr 9G-Tronic',
       'AUDI A6S6 TDI 349 Quattro Vorsprung 4dr Tip Auto',
       'AUDI Q850 TDI Quattro S Line 5dr Tiptronic [Leather]',
       'AUDI TT50 TFSI Quattro TTS Vorsprung 2dr S Tronic',
       'AUDI A435 TFSI S Line 4dr',
       'TOYOTA PRIUS1.8 VVTi Business Edition 5dr CVT',
       'MINI CONVERTIBLE2.0 JCW II 2dr [Comfort/Nav Pack]',
       'MINI CONVERTIBLE2.0 JCW II 2dr Auto [Comfort/Nav Pack] [8 Speed]',
       'BMW 7 SERIES740Li M Sport 4dr Auto',
       'AUDI A655 TFSI Quattro S Line 4dr S Tronic [Tech Pack]',
       'NISSAN X-TRAIL1.3 DiG-T Tekna 5dr DCT',
       'SEAT IBIZA1.0 FR [EZ] 5dr',
       'MERCEDES-BENZ CLACLA 180 AMG Line Premium 4dr Tip Auto',
       'TESLA MODEL XPerformance Ludicrous AWD 5dr Auto',
       'AUDI A640 TDI Black Edition 4dr S Tronic [Tech Pack]',
       'AUDI A640 TDI Quattro Black Edition 4dr S Tronic',
       'AUDI A640 TDI Black Edition 5dr S Tronic',
       'MINI CLUBMAN1.5 Cooper Sport 6dr',
       'MINI CLUBMAN1.5 Cooper Exclusive 6dr [Comfort/Nav+ Pack]',
       'MINI CLUBMAN2.0 Cooper S Classic 6dr Auto [Comfort Pack]',
       'MINI CLUBMAN2.0 Cooper S Classic 6dr Auto [Comfort/Nav+ Pack]',
       'HYUNDAI I301.5T GDi N Line 5dr',
       'HYUNDAI I301.0T GDi Premium 5dr',
       'AUDI A130 TFSI 110 Technik 5dr S Tronic',
       'AUDI A130 TFSI 110 S Line 5dr S Tronic',
       'HYUNDAI I201.0T GDi 48V MHD Premium 5dr DCT',
       'AUDI A535 TFSI Sport 2dr S Tronic',
       'SKODA FABIA1.0 TSI SE 5dr DSG',
       'MERCEDES-BENZ C CLASSC220d AMG Line Night Ed Premium Plus 2dr 9G-Tronic',
       'MERCEDES-BENZ C CLASSC200 AMG Line Edition Premium 2dr 9G-Tronic',
       'MERCEDES-BENZ C CLASSC43 4Matic Edition Premium 2dr 9G-Tronic',
       'KIA PICANTO1.0 3 5dr [4 seats]',
       'KIA PICANTO1.0T GDi GT-line 5dr [4 seats]',
       'LEXUS ES300h 2.5 4dr CVT [without Nav]',
       'AUDI Q335 TFSI Black Edition 5dr S Tronic [C+S Pack]',
       'AUDI Q335 TDI Black Edition 5dr S Tronic [C+S]',
       'AUDI A125 TFSI Black Edition 5dr',
       'MINI CLUBMAN2.0 Cooper S Exclusive 6dr [Comfort/Nav+ Pack]',
       'LEXUS RC5.0 2dr Auto [Track Pack/Sunroof]',
       'LAND ROVER DISCOVERY SPORT2.0 P200 5dr Auto [5 Seat]',
       'LAND ROVER DISCOVERY SPORT2.0 P250 S 5dr Auto',
       'LAND ROVER DISCOVERY SPORT2.0 P250 R-Dynamic SE 5dr Auto',
       'VOLKSWAGEN TOURAN1.5 TSI EVO SE 5dr',
       'MERCEDES-BENZ CLACLA 220d AMG Line Premium Plus 4dr Tip Auto',
       'TESLA MODEL 3Standard Plus 4dr Auto',
       'MERCEDES-BENZ V CLASSV220 d Sport 5dr 9G-Tronic [Long]',
       'MERCEDES-BENZ V CLASSV300 d AMG Line 5dr 9G-Tronic [Extra Long]',
       'MERCEDES-BENZ GLSGLS 400d 4Matic AMG Line Premium 5dr 9G-Tronic',
       'VOLKSWAGEN PASSAT1.5 TSI EVO SEL 4dr DSG',
       'AUDI A6S6 TDI 349 Quattro 4dr Tip Auto',
       'AUDI TT45 TFSI Quattro Vorsprung 2dr S Tronic',
       'AUDI A435 TDI Vorsprung 4dr S Tronic',
       'AUDI A435 TDI Vorsprung 5dr S Tronic',
       'AUDI A740 TDI Black Edition 5dr S Tronic',
       'AUDI A135 TFSI Black Edition 5dr S Tronic',
       'VOLKSWAGEN TIGUAN1.5 TSI 150 Elegance 5dr DSG',
       'VOLKSWAGEN TIGUAN2.0 TDI Life 5dr',
       'AUDI Q755 TFSI e Quattro Black Edition 5dr Tiptronic',
       'AUDI Q335 TFSI Black Edition 5dr S Tronic',
       'AUDI Q335 TDI Black Edition 5dr S Tronic [C+S Pack]',
       'AUDI Q850 TDI Quattro Black Edition 5dr Tiptronic [C+S]',
       'AUDI Q8SQ8 TFSI Quattro Black Edition 5dr Tiptronic',
       'AUDI A430 TDI Sport Edition 4dr S Tronic',
       'AUDI A435 TFSI Sport Edition 5dr [Comfort+Sound]',
       'AUDI A440 TDI 204 Quattro Sport Ed 5dr S Tronic [C+S]',
       'AUDI Q230 TFSI Sport 5dr [C+S]',
       'AUDI Q235 TFSI S Line 5dr [C+S]',
       'AUDI Q235 TFSI Black Edition 5dr [C+S]',
       'FORD MONDEO2.0 Hybrid Titanium Edition 5dr Auto',
       'FORD MONDEO VIGNALE2.0 EcoBlue 190 5dr Powershift',
       'MERCEDES-BENZ A CLASSA180 AMG Line Executive 4dr Auto',
       'MERCEDES-BENZ A CLASSA35 4Matic Executive 4dr Auto',
       'AUDI A855 TFSI Quattro Sport 4dr Tiptronic',
       'AUDI A8L 55 TFSI Quattro Sport 4dr Tiptronic',
       'MERCEDES-BENZ C CLASSC220d Sport Edition 4dr 9G-Tronic',
       'MERCEDES-BENZ C CLASSC43 4Matic Edition Premium Plus 4dr 9G-Tronic',
       'MERCEDES-BENZ C CLASSC300d AMG Line Edition 5dr 9G-Tronic',
       'BMW 1 SERIES118i SE 5dr', 'BMW 1 SERIES116d SE 5dr Step Auto',
       'BMW 1 SERIES118d Sport 5dr Step Auto',
       'BMW 1 SERIES118d M Sport 5dr',
       'MERCEDES-BENZ SL CLASSSL 500 Grand Edition Premium 2dr 9G-Tronic',
       'MERCEDES-BENZ GLC COUPEGLC 300d 4Matic AMG Line Prem Plus 5dr 9G-Tronic',
       'MERCEDES-BENZ GLCGLC 300d 4Matic AMG Line Premium Pls 5dr 9G-Tronic',
       'AUDI A740 TDI Quattro Black Edition 5dr S Tronic [C+S]',
       'NISSAN 370Z3.7 V6 [328] 50th Anniversary 3dr',
       'VOLKSWAGEN ARTEON2.0 TDI Elegance 5dr DSG',
       'HYUNDAI I301.6 CRDi Premium 5dr DCT',
       'HYUNDAI I30 FASTBACK1.5T GDi N Line 5dr DCT',
       'AUDI A130 TFSI 110 Technik 5dr',
       'AUDI A130 TFSI 110 S Line 5dr S Tronic [Tech Pack]',
       'HYUNDAI I201.0T GDi 48V MHD SE Connect 5dr DCT',
       'HYUNDAI I201.0T GDi 48V MHD Premium 5dr',
       'SKODA FABIA1.0 TSI S 5dr DSG',
       'SKODA FABIA1.0 TSI Monte Carlo 5dr DSG',
       'MERCEDES-BENZ C CLASSC220d AMG Line Edition Premium 2dr 9G-Tronic',
       'MERCEDES-BENZ C CLASSC200 AMG Line Edition 2dr 9G-Tronic',
       'MERCEDES-BENZ C CLASSC300d AMG Line Night Ed Premium Plus 2dr 9G-Tronic',
       'KIA RIO1.25 2 5dr', 'KIA PICANTO1.0 2 5dr [4 seats]',
       'KIA PICANTO1.0 2 5dr Auto [4 seats]',
       'KIA PICANTO1.0 GT-line 5dr Auto [4 seats]',
       'SKODA SUPERB2.0 TDI CR 200 SE L 5dr DSG',
       'MINI CLUBMAN2.0 [178] Cooper S Exclusive 6dr Auto [Comfort Pk]',
       'SKODA KODIAQ2.0 TDI 200 Sport Line 4x4 5dr DSG [7 Seat]',
       'MINI HATCHBACK2.0 [178] Cooper S Classic II 5dr Auto [Comf Pack]',
       'MINI HATCHBACK2.0 [178] Cooper S Sport II 5dr Auto [Comf Pack]',
       'MINI HATCHBACK2.0 [178] Cooper S Exclusive II 5dr Auto [Comf Pk]',
       'MERCEDES-BENZ GLEGLE 400d 4Matic AMG Line Prem + 5dr 9G-Tron [7 St]',
       'VOLKSWAGEN T-CROSS1.0 TSI 115 SE 5dr',
       'MINI HATCHBACK2.0 John Cooper Works II 3dr [Nav Pack]',
       'BMW 3 SERIES320i M Sport 4dr Step Auto',
       'MINI CONVERTIBLE2.0 JCW II 2dr Auto [Comfort Pack] [8 Speed]',
       'BMW 7 SERIES740Li 4dr Auto',
       'AUDI A655 TFSI Quattro S Line 4dr S Tronic',
       'NISSAN X-TRAIL1.3 DiG-T N-Connecta 5dr [7 Seat] DCT',
       'MERCEDES-BENZ CLACLA 180 AMG Line 4dr Tip Auto',
       'AUDI A640 TDI Black Edition 4dr S Tronic',
       'AUDI A655 TFSI Quattro Black Edition 5dr S Tronic [Tech]',
       'MINI CLUBMAN1.5 Cooper Classic 6dr Auto [Comfort/Nav+ Pack]',
       'MINI CLUBMAN1.5 Cooper Exclusive 6dr [Comfort Pack]',
       'MINI CLUBMAN2.0 Cooper S Classic 6dr Auto',
       'MINI CLUBMAN2.0 Cooper S Exclusive 6dr Auto [Comfort/Nav+ Pk]',
       'AUDI A435 TFSI Vorsprung 4dr S Tronic',
       'AUDI A430 TDI S Line 4dr S Tronic', 'AUDI A435 TFSI S Line 5dr',
       'AUDI A740 TDI Quattro Black Edition 5dr S Tronic',
       'MERCEDES-BENZ EQCEQC 400 300kW Sport 80kWh 5dr Auto',
       'MERCEDES-BENZ A CLASSA180 AMG Line Premium 4dr Auto',
       'MERCEDES-BENZ A CLASSA35 4Matic Premium 4dr Auto',
       'MERCEDES-BENZ C CLASSC200 Sport Edition 4dr 9G-Tronic',
       'MERCEDES-BENZ C CLASSC300d AMG Line Edition 4dr 9G-Tronic',
       'MERCEDES-BENZ C CLASSC200 Sport Edition 5dr 9G-Tronic',
       'BMW 1 SERIES118i SE 5dr Step Auto', 'BMW 1 SERIES116d Sport 5dr',
       'BMW 1 SERIES118d M Sport 5dr Step Auto',
       'MERCEDES-BENZ C CLASSC300de Sport Edition 4dr 9G-Tronic',
       'MERCEDES-BENZ GLC COUPEGLC 300d 4Matic AMG Line Ultimate 5dr 9GTron',
       'LEXUS RC5.0 2dr Auto [Track Pack]',
       'LAND ROVER DISCOVERY SPORT2.0 P200 5dr Auto',
       'LAND ROVER DISCOVERY SPORT2.0 P200 R-Dynamic SE 5dr Auto [5 Seat]',
       'LEXUS RC5.0 Carbon 2dr Auto [Track Pack]',
       'MERCEDES-BENZ CLACLA 220d AMG Line 4dr Tip Auto',
       'MERCEDES-BENZ CLACLA 220d AMG Line Premium 4dr Tip Auto',
       'FORD TOURNEO COURIER1.5 TDCi Titanium 5dr [Start Stop]',
       'MERCEDES-BENZ V CLASSV300 d AMG Line 5dr 9G-Tronic',
       'VOLKSWAGEN PASSAT1.5 TSI EVO R Line 5dr',
       'VOLKSWAGEN PASSAT2.0 TDI EVO SCR R Line 5dr DSG',
       'VOLKSWAGEN PASSAT ALLTRACK2.0 TDI SCR 190 5dr DSG',
       'MERCEDES-BENZ V CLASSV300 d Sport 5dr 9G-Tronic [Extra Long]',
       'MERCEDES-BENZ V CLASSV220 d Marco Polo Horizon AMG Line 4dr 9G-Tr[Long]',
       'VOLKSWAGEN PASSAT1.5 TSI EVO SEL 4dr',
       'AUDI A6S6 TDI 349 Quattro Vorsprung 5dr Tip Auto',
       'AUDI A640 TDI Vorsprung 4dr S Tronic',
       'AUDI A650 TDI Quattro Vorsprung 5dr Tip Auto',
       'AUDI A435 TFSI Technik 4dr', 'AUDI A430 TDI Technik 4dr S Tronic',
       'AUDI A430 TDI Black Edition 4dr S Tronic',
       'AUDI A4S4 TDI Quattro Vorsprung 4dr Tiptronic',
       'AUDI A430 TDI Black Edition 5dr S Tronic',
       'LAND ROVER DEFENDER3.0 D300 HSE 110 5dr Auto [7 Seat]',
       'LAND ROVER DEFENDER3.0 D300 X 110 5dr Auto [6 Seat]',
       'LAND ROVER DEFENDER2.0 P300 X-Dynamic S 110 5dr Auto [6 Seat]',
       'LAND ROVER DEFENDER2.0 P400e X-Dynamic S 110 5dr Auto',
       'MERCEDES-BENZ E CLASSE300 AMG Line Night Ed Premium Plus 2dr 9G-Tronic',
       'MERCEDES-BENZ E CLASSE400d 4Matic AMG Line Night Ed Pre+ 2dr 9G-Tronic',
       'LAND ROVER RANGE ROVER VELAR2.0 D200 SE 5dr Auto',
       'LAND ROVER RANGE ROVER VELAR2.0 P400e R-Dynamic 5dr Auto',
       'MINI HATCHBACK2.0 JCW II 3dr [GP Pack] [Nav]',
       'MERCEDES-BENZ GLCGLC 300de 4Matic AMG Line 5dr 9G-Tronic',
       'FORD ECOSPORT1.0 EcoBoost 125 Active 5dr',
       'FORD KUGA2.0 EcoBlue 190 ST-Line Edition 5dr Auto AWD',
       'TOYOTA LAND CRUISER2.8 D-4D 204 Active 5dr Auto 5 Seats',
       'VOLKSWAGEN ARTEON2.0 TDI 200 R Line 5dr DSG',
       'SEAT CUPRA LEON1.4 eHybrid 5dr DSG',
       'SEAT CUPRA LEON1.4 eHybrid Lux 5dr DSG',
       'VOLKSWAGEN ARTEON2.0 TSI Elegance 5dr DSG',
       'HYUNDAI I301.0T GDi SE Connect 5dr',
       'HYUNDAI I301.6 CRDi SE Connect 5dr DCT',
       'AUDI A4S4 TDI Quattro Vorsprung 5dr Tiptronic',
       'MERCEDES-BENZ SL CLASSSL 500 Grand Edition 2dr 9G-Tronic',
       'AUDI A7S7 TDI Quattro S Vorsprung 5dr Tip Auto',
       'MERCEDES-BENZ EQCEQC 400 300kW AMG Line Premium Plus 80kWh 5dr Auto',
       'MERCEDES-BENZ A CLASSA180 Sport Executive 4dr Auto',

In [42]:
df['Initial Payment'] = df['Initial Payment'].str.replace(',', '')
df['Initial Payment'] = df['Initial Payment'].str.replace('£', '')
df['Initial Payment'] = df['Initial Payment'].astype(float)

In [43]:
df.head()

,Car Name,Monthly Payment,Initial Payment,Upfront,Contract Length,Milage,Document Fee
0,KIA XCEED1.6 GDi PHEV 3 5dr DCT,516.44,4647.96,9,24,30000,199.00
1,KIA XCEED1.6 GDi PHEV 3 5dr DCT,373.65,3362.85,9,36,30000,199.00
2,KIA XCEED1.6 GDi PHEV 3 5dr DCT,358.69,3228.21,9,48,30000,199.00
3,AUDI A330 TFSI Technik 5dr S Tronic [Comfort+S...,350.71,3156.39,9,24,30000,165.83
4,AUDI A330 TFSI Technik 5dr S Tronic [Comfort+S...,318.67,2868.03,9,36,30000,165.83

In [44]:
y=[]
for column in df['Car Name']:
    a=column.split()
    b=a[0:1]
    y.append(b)

In [45]:
y

[['KIA'],
 ['KIA'],
 ['KIA'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['VOLKSWAGEN'],
 ['VOLKSWAGEN'],
 ['VOLKSWAGEN'],
 ['VOLKSWAGEN'],
 ['VOLKSWAGEN'],
 ['VOLKSWAGEN'],
 ['VOLKSWAGEN'],
 ['VOLKSWAGEN'],
 ['VOLKSWAGEN'],
 ['VOLKSWAGEN'],
 ['VOLKSWAGEN'],
 ['VOLKSWAGEN'],
 ['VOLKSWAGEN'],
 ['VOLKSWAGEN'],
 ['VOLKSWAGEN'],
 ['VOLKSWAGEN'],
 ['VOLKSWAGEN'],
 ['HYUNDAI'],
 ['HYUNDAI'],
 ['HYUNDAI'],
 ['HYUNDAI'],
 ['HYUNDAI'],
 ['HYUNDAI'],
 ['HYUNDAI'],
 ['HYUNDAI'],
 ['HYUNDAI'],
 ['HYUNDAI'],
 ['HYUNDAI'],
 ['HYUNDAI'],
 ['HYUNDAI'],
 ['HYUNDAI'],
 ['HYUNDAI'],
 ['HYUNDAI'],
 ['HYUNDAI'],
 ['HYUNDAI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['HYUNDAI'],
 ['HYUNDAI'],
 ['HYUNDAI'],
 ['HYUNDAI'],
 ['HYUNDAI'],
 ['HYUNDAI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['SKODA'],
 ['SKODA'],
 ['SKODA'],
 ['SKODA'],
 ['SKODA'],
 ['SKODA'],
 ['TOYOTA'],
 ['TOYOTA'],
 ['TOYOTA'],
 ['TOYOTA'],
 ['TOYOTA'],
 ['TOYOTA'],
 ['MERCEDES-BENZ'],
 ['MERCEDES-BENZ'],
 ['MERCEDES-BENZ'],
 ['MERCEDES-BENZ'],
 ['MERCEDES-BENZ'],
 ['MERCEDES-BENZ'],
 ['MERCEDES-BENZ'],
 ['MERCEDES-BENZ'],
 ['MERCEDES-BENZ'],
 ['MERCEDES-BENZ'],
 ['MERCEDES-BENZ'],
 ['MERCEDES-BENZ'],
 ['MERCEDES-BENZ'],
 ['MERCEDES-BENZ'],
 ['MERCEDES-BENZ'],
 ['MERCEDES-BENZ'],
 ['MERCEDES-BENZ'],
 ['MERCEDES-BENZ'],
 ['MERCEDES-BENZ'],
 ['MERCEDES-BENZ'],
 ['MERCEDES-BENZ'],
 ['MERCEDES-BENZ'],
 ['MERCEDES-BENZ'],
 ['MERCEDES-BENZ'],
 ['KIA'],
 ['KIA'],
 ['KIA'],
 ['KIA'],
 ['KIA'],
 ['KIA'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['BMW'],
 ['BMW'],
 ['BMW'],
 ['BMW'],
 ['BMW'],
 ['BMW'],
 ['MINI'],
 ['MINI'],
 ['MINI'],
 ['MINI'],
 ['MINI'],
 ['MINI'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['MERCEDES-BENZ'],
 ['MERCEDES-BENZ'],
 ['KIA'],
 ['KIA'],
 ['KIA'],
 ['KIA'],
 ['KIA'],
 ['KIA'],
 ['SKODA'],
 ['SKODA'],
 ['SKODA'],
 ['SKODA'],
 ['SKODA'],
 ['SKODA'],
 ['KIA'],
 ['KIA'],
 ['KIA'],
 ['KIA'],
 ['KIA'],
 ['KIA'],
 ['KIA'],
 ['KIA'],
 ['KIA'],
 ['KIA'],
 ['KIA'],
 ['KIA'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['VOLKSWAGEN'],
 ['VOLKSWAGEN'],
 ['VOLKSWAGEN'],
 ['VOLKSWAGEN'],
 ['VOLKSWAGEN'],
 ['VOLKSWAGEN'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['KIA'],
 ['KIA'],
 ['KIA'],
 ['KIA'],
 ['KIA'],
 ['KIA'],
 ['KIA'],
 ['KIA'],
 ['KIA'],
 ['KIA'],
 ['KIA'],
 ['KIA'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['VOLKSWAGEN'],
 ['VOLKSWAGEN'],
 ['VOLKSWAGEN'],
 ['VOLKSWAGEN'],
 ['VOLKSWAGEN'],
 ['VOLKSWAGEN'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['MERCEDES-BENZ'],
 ['MERCEDES-BENZ'],
 ['MERCEDES-BENZ'],
 ['MERCEDES-BENZ'],
 ['MERCEDES-BENZ'],
 ['MERCEDES-BENZ'],
 ['MERCEDES-BENZ'],
 ['MERCEDES-BENZ'],
 ['MERCEDES-BENZ'],
 ['MERCEDES-BENZ'],
 ['MERCEDES-BENZ'],
 ['MERCEDES-BENZ'],
 ['BMW'],
 ['BMW'],
 ['BMW'],
 ['BMW'],
 ['BMW'],
 ['BMW'],
 ['MERCEDES-BENZ'],
 ['MERCEDES-BENZ'],
 ['MERCEDES-BENZ'],
 ['MERCEDES-BENZ'],
 ['MERCEDES-BENZ'],
 ['MERCEDES-BENZ'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['MERCEDES-BENZ'],
 ['MERCEDES-BENZ'],
 ['MERCEDES-BENZ'],
 ['MERCEDES-BENZ'],
 ['MERCEDES-BENZ'],
 ['MERCEDES-BENZ'],
 ['TOYOTA'],
 ['TOYOTA'],
 ['VOLKSWAGEN'],
 ['VOLKSWAGEN'],
 ['VOLKSWAGEN'],
 ['VOLKSWAGEN'],
 ['VOLKSWAGEN'],
 ['VOLKSWAGEN'],
 ['MINI'],
 ['MINI'],
 ['MINI'],
 ['MINI'],
 ['MINI'],
 ['MINI'],
 ['TOYOTA'],
 ['TOYOTA'],
 ['TOYOTA'],
 ['TOYOTA'],
 ['TOYOTA'],
 ['TOYOTA'],
 ['BMW'],
 ['BMW'],
 ['BMW'],
 ['BMW'],
 ['BMW'],
 ['BMW'],
 ['BMW'],
 ['BMW'],
 ['BMW'],
 ['BMW'],
 ['BMW'],
 ['BMW'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['NISSAN'],
 ['NISSAN'],
 ['NISSAN'],
 ['NISSAN'],
 ['NISSAN'],
 ['NISSAN'],
 ['SEAT'],
 ['SEAT'],
 ['SEAT'],
 ['SEAT'],
 ['SEAT'],
 ['SEAT'],
 ['FORD'],
 ['FORD'],
 ['FORD'],
 ['FORD'],
 ['FORD'],
 ['FORD'],
 ['MERCEDES-BENZ'],
 ['MERCEDES-BENZ'],
 ['MERCEDES-BENZ'],
 ['MERCEDES-BENZ'],
 ['MERCEDES-BENZ'],
 ['MERCEDES-BENZ'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['VOLKSWAGEN'],
 ['VOLKSWAGEN'],
 ['VOLKSWAGEN'],
 ['VOLKSWAGEN'],
 ['VOLKSWAGEN'],
 ['VOLKSWAGEN'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['BMW'],
 ['BMW'],
 ['BMW'],
 ['BMW'],
 ['BMW'],
 ['BMW'],
 ['BMW'],
 ['BMW'],
 ['BMW'],
 ['BMW'],
 ['BMW'],
 ['BMW'],
 ['BMW'],
 ['BMW'],
 ['BMW'],
 ['BMW'],
 ['BMW'],
 ['BMW'],
 ['BMW'],
 ['BMW'],
 ['BMW'],
 ['BMW'],
 ['BMW'],
 ['BMW'],
 ['MINI'],
 ['MINI'],
 ['MINI'],
 ['MINI'],
 ['MINI'],
 ['MINI'],
 ['BMW'],
 ['BMW'],
 ['BMW'],
 ['BMW'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['SEAT'],
 ['SEAT'],
 ['SEAT'],
 ['SEAT'],
 ['SEAT'],
 ['SEAT'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['BMW'],
 ['BMW'],
 ['BMW'],
 ['BMW'],
 ['BMW'],
 ['BMW'],
 ['BMW'],
 ['BMW'],
 ['BMW'],
 ['BMW'],
 ['BMW'],
 ['BMW'],
 ['BMW'],
 ['BMW'],
 ['BMW'],
 ['BMW'],
 ['BMW'],
 ['BMW'],
 ['BMW'],
 ['BMW'],
 ['BMW'],
 ['BMW'],
 ['BMW'],
 ['BMW'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['LEXUS'],
 ['LEXUS'],
 ['LEXUS'],
 ['LEXUS'],
 ['LEXUS'],
 ['LEXUS'],
 ['MINI'],
 ['MINI'],
 ['MINI'],
 ['MINI'],
 ['MINI'],
 ['MINI'],
 ['MINI'],
 ['MINI'],
 ['MINI'],
 ['MINI'],
 ['MINI'],
 ['MINI'],
 ['MINI'],
 ['MINI'],
 ['MINI'],
 ['MINI'],
 ['MINI'],
 ['MINI'],
 ['MINI'],
 ['MINI'],
 ['MINI'],
 ['MINI'],
 ['MINI'],
 ['MINI'],
 ['MINI'],
 ['MINI'],
 ['MINI'],
 ['MINI'],
 ['MINI'],
 ['MINI'],
 ['MINI'],
 ['MINI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['BMW'],
 ['BMW'],
 ['BMW'],
 ['BMW'],
 ['BMW'],
 ['BMW'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['MERCEDES-BENZ'],
 ['MERCEDES-BENZ'],
 ['MERCEDES-BENZ'],
 ['MERCEDES-BENZ'],
 ['MERCEDES-BENZ'],
 ['MERCEDES-BENZ'],
 ['MERCEDES-BENZ'],
 ['MERCEDES-BENZ'],
 ['MERCEDES-BENZ'],
 ['MERCEDES-BENZ'],
 ['MERCEDES-BENZ'],
 ['MERCEDES-BENZ'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['MINI'],
 ['MINI'],
 ['MINI'],
 ['MINI'],
 ['MINI'],
 ['MINI'],
 ['MERCEDES-BENZ'],
 ['MERCEDES-BENZ'],
 ['MERCEDES-BENZ'],
 ['MERCEDES-BENZ'],
 ['MERCEDES-BENZ'],
 ['MERCEDES-BENZ'],
 ['FORD'],
 ['FORD'],
 ['FORD'],
 ['FORD'],
 ['FORD'],
 ['FORD'],
 ['FORD'],
 ['FORD'],
 ['FORD'],
 ['FORD'],
 ['FORD'],
 ['FORD'],
 ['SEAT'],
 ['SEAT'],
 ['SEAT'],
 ['SEAT'],
 ['SEAT'],
 ['SEAT'],
 ['TOYOTA'],
 ['TOYOTA'],
 ['TOYOTA'],
 ['TOYOTA'],
 ['TOYOTA'],
 ['TOYOTA'],
 ['VOLKSWAGEN'],
 ['VOLKSWAGEN'],
 ['VOLKSWAGEN'],
 ['VOLKSWAGEN'],
 ['VOLKSWAGEN'],
 ['VOLKSWAGEN'],
 ['VOLKSWAGEN'],
 ['VOLKSWAGEN'],
 ['VOLKSWAGEN'],
 ['VOLKSWAGEN'],
 ['VOLKSWAGEN'],
 ['VOLKSWAGEN'],
 ['VOLKSWAGEN'],
 ['VOLKSWAGEN'],
 ['VOLKSWAGEN'],
 ['VOLKSWAGEN'],
 ['VOLKSWAGEN'],
 ['VOLKSWAGEN'],
 ['VOLKSWAGEN'],
 ['VOLKSWAGEN'],
 ['VOLKSWAGEN'],
 ['VOLKSWAGEN'],
 ['VOLKSWAGEN'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['MINI'],
 ['MINI'],
 ['MINI'],
 ['MINI'],
 ['MINI'],
 ['MINI'],
 ['MINI'],
 ['MINI'],
 ['MINI'],
 ['MINI'],
 ['MINI'],
 ['MINI'],
 ['MINI'],
 ['MINI'],
 ['MINI'],
 ['MINI'],
 ['MINI'],
 ['MINI'],
 ['MINI'],
 ['MINI'],
 ['MINI'],
 ['MINI'],
 ['MINI'],
 ['MINI'],
 ['LEXUS'],
 ['LEXUS'],
 ['LEXUS'],
 ['LEXUS'],
 ['LEXUS'],
 ['LEXUS'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['LAND'],
 ['VOLKSWAGEN'],
 ['VOLKSWAGEN'],
 ['VOLKSWAGEN'],
 ['VOLKSWAGEN'],
 ['VOLKSWAGEN'],
 ['VOLKSWAGEN'],
 ['MERCEDES-BENZ'],
 ['MERCEDES-BENZ'],
 ['MERCEDES-BENZ'],
 ['MERCEDES-BENZ'],
 ['MERCEDES-BENZ'],
 ['MERCEDES-BENZ'],
 ['VOLKSWAGEN'],
 ['VOLKSWAGEN'],
 ['VOLKSWAGEN'],
 ['VOLKSWAGEN'],
 ['VOLKSWAGEN'],
 ['VOLKSWAGEN'],
 ['MERCEDES-BENZ'],
 ['MERCEDES-BENZ'],
 ['MERCEDES-BENZ'],
 ['MERCEDES-BENZ'],
 ['MERCEDES-BENZ'],
 ['MERCEDES-BENZ'],
 ['MERCEDES-BENZ'],
 ['MERCEDES-BENZ'],
 ['MERCEDES-BENZ'],
 ['MERCEDES-BENZ'],
 ['MERCEDES-BENZ'],
 ['MERCEDES-BENZ'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['AUDI'],
 ['BMW'],
 ['BMW'],
 ['TOYOTA'],
 ['TOYOTA'],
 ['TOYOTA'],
 ['TOYOTA'],
 ['TOYOTA'],
 ['TOYOTA'],
 ['MINI'],
 ['MINI'],
 ['MINI'],
 ['MINI'],
 ['MINI'],
 ['MINI'],
 ['MINI'],
 ...]

In [46]:
df['Car Name']=y

In [47]:

# joining with "_"
df["Car Name"]= df["Car Name"].str.join(" ")

In [48]:
df.head()

,Car Name,Monthly Payment,Initial Payment,Upfront,Contract Length,Milage,Document Fee
0,KIA,516.44,4647.96,9,24,30000,199.00
1,KIA,373.65,3362.85,9,36,30000,199.00
2,KIA,358.69,3228.21,9,48,30000,199.00
3,AUDI,350.71,3156.39,9,24,30000,165.83
4,AUDI,318.67,2868.03,9,36,30000,165.83

In [50]:
df['Car Name'].unique()

array(['KIA', 'AUDI', 'VOLKSWAGEN', 'HYUNDAI', 'SKODA', 'TOYOTA',
       'MERCEDES-BENZ', 'BMW', 'MINI', 'LAND', 'NISSAN', 'SEAT', 'FORD',
       'LEXUS', 'TESLA'], dtype=object)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2217 entries, 0 to 2216
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Car Name         2217 non-null   object
 1   Monthly Payment  2217 non-null   float64
 2   Initial Payment  2217 non-null   float64
 3   Upfront          2217 non-null   int64
 4   Contract Length  2217 non-null   int64
 5   Milage           2217 non-null   int64
 6   Document Fee     2217 non-null   float64
dtypes: float64(3), int64(3), object(1)
memory usage: 121.4+ KB

In [36]:
label_encoder = preprocessing.LabelEncoder()
df['Car Name'].unique()

array([ 4,  0, 14,  3, 11, 13,  7,  1,  8,  5,  9, 10,  2,  6, 12])

In [14]:
df['Car Name']= label_encoder.fit_transform(df['Car Name'])

In [15]:
df['Car Name'].unique()

array([ 4,  0, 14,  3, 11, 13,  7,  1,  8,  5,  9, 10,  2,  6, 12])

In [16]:
df.head()

,Car Name,Monthly Payment,Initial Payment,Upfront,Contract Length,Milage,Document Fee
0,4,516.44,4647.96,9,24,30000,199.00
1,4,373.65,3362.85,9,36,30000,199.00
2,4,358.69,3228.21,9,48,30000,199.00
3,0,350.71,3156.39,9,24,30000,165.83
4,0,318.67,2868.03,9,36,30000,165.83

In [17]:
df.describe()

,Car Name,Monthly Payment,Initial Payment,Upfront,Contract Length,Milage,Document Fee
count,2217.000000,2217.000000,2217.000000,2217.000000,2217.000000,2217.000000,2217.000000
mean,4.607127,538.736613,5442.675223,10.263870,35.983762,20731.619305,182.422481
std,4.441599,290.550930,2922.515271,1.481632,9.796840,10865.300012,16.588740
min,0.000000,142.550000,1524.600000,9.000000,24.000000,8000.000000,165.830000
25%,0.000000,336.940000,3497.040000,9.000000,24.000000,8000.000000,165.830000
50%,5.000000,457.510000,4562.280000,9.000000,36.000000,30000.000000,199.000000
75%,7.000000,657.760000,6524.640000,12.000000,48.000000,30000.000000,199.000000
max,14.000000,2488.150000,26588.400000,12.000000,48.000000,30000.000000,199.000000

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2217 entries, 0 to 2216
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Car Name         2217 non-null   int32
 1   Monthly Payment  2217 non-null   float64
 2   Initial Payment  2217 non-null   float64
 3   Upfront          2217 non-null   int64
 4   Contract Length  2217 non-null   int64
 5   Milage           2217 non-null   int64
 6   Document Fee     2217 non-null   float64
dtypes: float64(3), int32(1), int64(3)
memory usage: 112.7 KB

In [19]:
df.skew(axis=0,skipna=True)

Car Name           0.609931
Monthly Payment    1.762152
Initial Payment    1.915020
Upfront            0.319031
Contract Length    0.002487
Milage            -0.319031
Document Fee      -0.000903
dtype: float64

In [20]:
# milage is skewed to right

In [21]:
# def normalize(column):
#     upper = column.max()
#     lower = column.min()
#     y = (column - lower)/(upper-lower)
#     return y

In [22]:
#df['Milage']=normalize(df['Milage'])

In [23]:
# df.skew(axis=0,skipna=True)

In [24]:
# def sigmoid(x):
#     e = np.exp(1)
#     y = 1/(1+e**(-x))
#     return y

In [25]:

# df['Milage']=sigmoid(df['Milage'])
# df['Monthly Payment']=sigmoid(df['Monthly Payment'])

In [26]:
df.corr()

,Car Name,Monthly Payment,Initial Payment,Upfront,Contract Length,Milage,Document Fee
Car Name,1.000000,-0.146119,-0.134037,0.069727,-0.002262,-0.069727,0.001564
Monthly Payment,-0.146119,1.000000,0.956203,-0.201832,-0.163672,0.201832,0.171323
Initial Payment,-0.134037,0.956203,1.000000,0.057695,-0.165529,-0.057695,0.170713
Upfront,0.069727,-0.201832,0.057695,1.000000,-0.007539,-1.000000,-0.004039
Contract Length,-0.002262,-0.163672,-0.165529,-0.007539,1.000000,0.007539,0.000553
Milage,-0.069727,0.201832,-0.057695,-1.000000,0.007539,1.000000,0.004039
Document Fee,0.001564,0.171323,0.170713,-0.004039,0.000553,0.004039,1.000000

In [27]:
Y=df['Monthly Payment']

In [28]:
df2 = df
drops = ['Monthly Payment']
df2 = df2.drop(drops,axis=1)
df2.dtypes
df2.head()

   Car Name  Initial Payment  Upfront  Contract Length  Milage  Document Fee
0         4          4647.96        9               24   30000        199.00
1         4          3362.85        9               36   30000        199.00
2         4          3228.21        9               48   30000        199.00
3         0          3156.39        9               24   30000        165.83
4         0          2868.03        9               36   30000        165.83

In [29]:
from sklearn.model_selection import train_test_split
X_train, X_valid, y_train, y_valid = train_test_split(df2, Y,
                                                      train_size=0.7, test_size=0.3,
                                                      random_state=0)

In [30]:
# import joblib
# # Save the model as a pickle in a file 
# joblib.dump(clf, 'car_new1.pkl')

In [31]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error


clf1=RandomForestRegressor(n_estimators=450)

clf1.fit(X_train,y_train)


pred = clf1.predict(X_valid)

In [32]:
X_train

,Car Name,Initial Payment,Upfront,Contract Length,Milage,Document Fee
1510,11,1763.10,9,48,30000,165.83
214,4,2608.11,9,36,30000,199.00
2131,7,6859.56,12,24,8000,199.00
2047,3,2708.73,9,36,30000,165.83
2069,0,11218.08,12,48,8000,199.00
...,...,...,...,...,...,...
1033,7,4068.00,12,36,8000,199.00
1731,7,5555.40,12,48,8000,199.00
763,0,3669.36,12,36,8000,199.00
835,7,7069.59,9,36,30000,199.00
1653,0,4166.52,12,24,8000,165.83

In [33]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(pred, y_valid)

2.761785752419057

In [34]:
from sklearn.metrics import r2_score
r2_score(pred, y_valid)

0.9943637677493747

In [35]:
import joblib
# Save the model as a pickle in a file 
joblib.dump(clf1, 'data3.pkl')

['data3.pkl']